* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.map-area{
    width: 100vw;
    height: 100vh;
    position: relative;
}

    .map-area::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: radial-gradient(73.43% 50% at 50% 50%, rgba(0, 31, 40, 0.00) 70%, #001F28 100%);
        top: 0;
        left: 0;
        pointer-events: none;
    }


    .mapboxgl-ctrl-bottom-right {
        display: none;
    }
    .mapboxgl-ctrl-bottom-left {
        display: none;
    }
    .mapboxgl-ctrl-geocoder input:focus {
        outline: none;
    }
    

form {
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: white;
    padding: 2em;
    z-index: 10;
}

.marker {
    width: 14px;
    height: 14px;
    background: blue;
    position:relative;
    z-index: 3;
    border-radius: 100%;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

