* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.map-area{
    width: 100vw;
    height: 100vh;
    position: relative;
}
form {
    position: absolute;
    top: 10%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: white;
    padding: 2em;
    z-index: 10;
}

.marker {
    width: 14px;
    height: 14px;
    background: blue;
    position:relative;
    z-index: 3;
    border-radius: 100%;
}
.marker::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    /* z-index: -1; */
    width: 6px;
    height: 6px;
    border-radius: 100%;
}
.marker::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: skyblue;
    z-index: -1;
    width: 18px;
    height: 18px;
    border-radius: 100%;
}